@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #ddd;
    font-family: "Fredoka One";
    font-size: 20px;

    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("../images/background-dark.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

li {
    list-style-type: none;
    div {
        display: flex;
    }
}

.interface {

    width: 600px;

    .interface__header {
        display: flex;
        justify-content:space-around;
        align-items: center;

        margin: 30px 0;
        padding: 20px;
        background: transparentize(#333, 0.2);
        border-radius: 10px;

        .header__title {
            letter-spacing: 0.5em;
            font-size: 50px;
        }

        .header__theme {
            font-size: 40px;
            padding-top: 8px;
        }
    }

    .interface__dashboard {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .dashboard__new-card {
            width: 100%;
            border-radius: 10px;
            padding: 10px;
            color: inherit;
            font-family: inherit;
            font-size: inherit;
            background: transparentize(#333, 0.2);
            border: none;
        }

        .dashboard__tasks {
            width: 100%;
            background: transparentize(#333, 0.2);
            border-radius: 10px;
            margin: 10px 0;

            .tasks__task {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid white;
                padding: 5px;

                i {
                    padding: 15px;
                    border-radius: 10px;
                    &:hover {
                        background: transparentize(#212121, 0.2);
                        cursor: pointer;
                    }
                }

                .task__text {
                    justify-self: start;
                }

                &--finished {
                    .task__text {
                        text-decoration: line-through;
                        text-decoration-thickness: 2px;
                    }
                }
            }
        }

        .dashboard__tasks-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 80%;
            margin-top: 30px;

            .tasks-info__clear-finished {
                color:white;
                background-color: transparentize(lime, 0.5);
                border-radius: 10px;
                padding: 10px;

                &:hover {
                    cursor: pointer;
                    background-color: transparentize(lime, 0.4);
                }
             }
        }

        .dashboard__tasks-filter {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 60%;
            margin-top: 30px;
            background: transparentize(#333, 0.2);

            .tasks-filter__filter {
                padding: 10px;
                letter-spacing: 1px;

                &:hover {
                    cursor: pointer;
                    color: rgb(116, 116, 255);
                }

                &--selected {
                    color: rgb(92, 92, 206);
                }
            }
        }
    }
}